@import url('./variables.css');

body {
  background: rgba(var(--background));
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}

.navbar {
  background: rgba(var(--navbarBackground));
  margin-bottom: 1.3rem;
  padding: 1rem;
}