@import "../main.css";

.not-found {
    display: flex;
    justify-content: center;
    align-items: center ;
    gap: 3rem;
    font-family: var(--main-font), serif;
}

.not-found h1 {
    font-size: 18vw;
    color: grey;
}

.not-found-info {
    width: 30%;
    max-width: 30rem;
    text-align: justify-all;
}